################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/wiki
/wiki
/AirQualityMonitor/.vs/VS2017/v15/ipch/AutoPCH
/AirQualityMonitor/.vs/VS2017/v15/ipch
/AirQualityMonitor/.vs/VS2017/v15
/AirQualityMonitor/AirQualityMonitor/Debug/AirQuali.52605BC0.tlog
/AirQualityMonitor/AirQualityMonitor/Debug
/AirQualityMonitor/Debug
/temp/nana/v141_Debug_x86
/AirQualityMonitor/AirQualityMonitor/Release/AirQuali.52605BC0.tlog
/AirQualityMonitor/AirQualityMonitor/Release
/temp/nana/v141_Release_x86
/nana/.vs
/Win32/Release/lib
/AirQualityMonitor/Release
/AirQualityMonitorTests/Release
/nana/build/bin/nana_v141_Release_x86.lib
/Win32/Debug/lib/libusb-1.0/libusb-1.0.Build.CppClean.log
