################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/wiki
/wiki
/AirQualityMonitor/.vs/VS2017/v15/ipch/AutoPCH
/AirQualityMonitor/.vs/VS2017/v15/ipch
/AirQualityMonitor/.vs/VS2017/v15
/AirQualityMonitor/AirQualityMonitor/Debug/AirQuali.52605BC0.tlog
/AirQualityMonitor/AirQualityMonitor/Debug
/AirQualityMonitor/Debug
